.page-204{

  position:relative;

  width:350px;

  height:200px;

  margin:100px auto;

  text-align: center;

  z-index: 100005;

}



.text-204{

  font-size:80px;

  background: white;

  -webkit-animation: square 3s linear infinite;

  -ms-animation: square 3s linear infinite;

  animation: square 3s linear infinite;

  -webkit-background-clip: text;

  color:transparent;

  text-align:center;

  line-height:200px;

  position:relative;

}



.text-204:nth-of-type(2){

  text-shadow:none;

  z-index:2;

  position:absolute;

  top:-139px;

  left:-1px;

}







.page-401{

  position:relative;

  width:350px;

  height:200px;

  margin:100px auto;

  text-align: center;

  z-index: 100005;
}



.text-401{

  font-size:80px;

  background: white;

  -webkit-animation: square 3s linear infinite;

  -ms-animation: square 3s linear infinite;

  animation: square 3s linear infinite;

  -webkit-background-clip: text;

  color:transparent;

  text-align:center;

  line-height:200px;

  position:relative;

}



.text-401:nth-of-type(2){

  text-shadow:none;

  z-index:2;

  position:absolute;

  top:-139px;

  left:-1px;

}










.page-404{

  position:relative;

  width:350px;

  height:200px;

  margin:100px auto;

  text-align: center;

  z-index: 100005;
}



.text-404{

  font-size:80px;

  background: white;

  -webkit-animation: square 3s linear infinite;

  -ms-animation: square 3s linear infinite;

  animation: square 3s linear infinite;

  -webkit-background-clip: text;

  color:transparent;

  text-align:center;

  line-height:200px;

  position:relative;

}



.text-404:nth-of-type(2){

  text-shadow:none;

  z-index:2;

  position:absolute;

  top:-139px;

  left:-1px;

}






















.page-error{

  position:relative;

  width:350px;

  height:200px;

  margin:100px auto;

  text-align: center;

  z-index: 100005;
}



.text-error{

  font-size:80px;

  background: white;

  -webkit-animation: square 3s linear infinite;

  -ms-animation: square 3s linear infinite;

  animation: square 3s linear infinite;

  -webkit-background-clip: text;

  color:transparent;

  text-align:center;

  line-height:200px;

  position:relative;

}



.text-error:nth-of-type(2){

  text-shadow:none;

  z-index:2;

  position:absolute;

  top:-139px;

  left:-1px;

}














.page-undone{

  position:relative;

  width:350px;

  height:200px;

  margin:100px auto;

  text-align: center;

  z-index: 100005;
}



.text-undone{

  font-size:80px;

  background: white;

  -webkit-animation: square 3s linear infinite;

  -ms-animation: square 3s linear infinite;

  animation: square 3s linear infinite;

  -webkit-background-clip: text;

  color:transparent;

  text-align:center;

  line-height:200px;

  position:relative;

}



.text-undone:nth-of-type(2){

  text-shadow:none;

  z-index:2;

  position:absolute;

  top:-139px;

  left:-1px;

}
