#div_index #el-header {
  background: rgba(54,66,74,1);
  border-bottom: 1px solid #f1f2f7;
  text-color: #fff;
  text-align: center;
  line-height: 60px;
}

#div_index #el-aside {
  background-color: #394a59;
  height: 85vh;
}

.el-submenu .el-menu-item {
  min-width: 150px;
}

#div_index #el-main {
  text-align: center;
  height: 85vh;
}

body > .el-container {
  margin-bottom: 10px;
}

.top-bar{
  position: fixed;
  display: flex;
  height: 28px;
  padding-left: 10px;
  left: 189px;
  right: 17px;
  z-index: 8;
  margin-top: -20px;
  background-color: #ededed;
  border-bottom: 1px solid #e4e4e4;
}
.div-outer-router-view{
  padding-top: 30px;
}

#logo {
  display: inline-block;
}

#logo img {
  margin-top: 15px;
  margin-right: 6px;
  width: 40px;
  height: 40px;
  border: none;
}

#logo a {
  font-size: 28px;
  font-weight: 300;
  color: #fed189;
  float: left;
  margin-top: 5px;
  text-transform: uppercase;
}

#logo a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

#logo a span {
  color: #688a7e;
}

.lite{
  color: #00a0df !important;
}
