.el-header {
  background: rgba(54,66,74,1);
  border-bottom: 1px solid #f1f2f7;
  text-color: #fff;
  text-align: center;
  line-height: 60px;
}

.el-aside {
  background-color: #394a59;
  text-color: #fff;
  min-height: 500px;
}

.el-main {
  text-align: center;
  min-height: 500px;
}

body > .el-container {
  margin-bottom: 10px;
}

a.logo {
  font-size: 28px;
  font-weight: 300;
  color: #fed189;
  float: left;
  margin-top: 5px;
  text-transform: uppercase;
}

a.logo:hover, a.logo:focus {
  text-decoration: none;
  outline: none;
}

a.logo span {
  color: #688a7e;
}

.lite{
  color: #00a0df !important;
}
