#div-index #el-header {
  background: rgba(54,66,74,1);
  border-bottom: 1px solid #f1f2f7;
  text-color: #fff;
  text-align: center;
  line-height: 60px;
}

#div-index #el-aside {
  background-color: #394a59;
  height: 85vh;
}

.el-submenu .el-menu-item {
  min-width: 150px;
}

#div-index #el-main {
  text-align: center;
  height: 85vh;
}

body > #div-index .el-container {
  margin-bottom: 10px;
}

#div-index .top-bar{
  /*position: fixed;*/
  display: flex;
  height: 28px;
  padding-left: 10px;
  left: auto;
  right: 17px;
  z-index: 8;
  margin-left: -15px;
  margin-top: -19px;
  background-color: #ededed;
  border-bottom: 1px solid #e4e4e4;
}
#div-index .div-outer-router-view{
  padding-top: 9px;
  margin-left: -18px;
}

#div-index #logo {
  display: inline-block;
}

#div-index #logo img {
  margin-top: 15px;
  margin-right: 6px;
  width: 40px;
  height: 40px;
  border: none;
}

#div-index #logo a {
  font-size: 28px;
  font-weight: 300;
  color: #fed189;
  float: left;
  margin-top: 5px;
  text-transform: uppercase;
}

#div-index #logo a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

#div-index #logo a span {
  color: #688a7e;
}

#div-index .lite{
  color: #00a0df !important;
}
